
.btn-plato {
    background: #3498db;
    color: white;
    border: none;

    padding: 1rem 2rem;
    margin: 10px;

    border-radius: 50px;

    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s;
}


.btn-plato:hover {
    background: #2980b9;
    transform: scale(1.05);

    box-shadow: 0 8px 25px rgba(52,152,219,0.4);

}

.btn-plato:active {

    background: #1f618d;
    transform: scale(0.98);

}

.form-buscar {

    max-width: 600px;


    margin: 60px auto;  

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.form-buscar input {
    padding: 20px;

    border: 2px solid #ddd;

    border-radius: 10px;

    font-size: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
}


.form-buscar input:focus {
    outline: none;

    border-color: #3498db;

    box-shadow: 0 0 0 3px rgba(52,152,219,0.1);
}


.form-buscar button {
    background: #02242e;
    color: white;

    border: none;
    padding: 20px;
    border-radius: 10px;

    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s;

}


.form-buscar button:hover {
    background: #229954;
}


.enlace-plato {


    display: inline-block;
    padding: 20px 40px;

    margin: 10px;
    background: #ff0000;



    color: white;
    text-decoration: none;
    border-radius: 30px;

    font-weight: 600;
    transition: all 0.3s;

}

.enlace-plato:link {
    background: #e74c3c;
}



.enlace-plato:visited {

    background: #c0392b;
}



.enlace-plato:hover {
    background: #c0392b;

    transform: translateY(-2px);


    box-shadow: 0 10px 30px rgba(231,76,60,0.4);


}

.lista-platos {
    max-width: 600px;

    margin: 60px auto;
    list-style: none;

}


.lista-platos li {

    background: #f8f9fa;
    margin: 10px 0;
    padding: 22px;

    border-radius: 12px;

    border-left: 4px solid #95a5a6;

    transition: all 0.3s;
    cursor: pointer;
}

.lista-platos li:hover {
    background: #00ff00;
    border-left-color: #686565;

    transform: translateX(10px);

    box-shadow: 0 5px 20px rgba(39,174,96,0.2);

}

section {
    margin: 80px 0;
    text-align: center;

}

section h2 {
    margin-bottom: 40px;
    color: #2c3e50;
}


@media (max-width: 768px) {
    .btn-plato {

        display: block;
        width: 100%;
        max-width: 300px;


        margin: 10px auto;
    }

    
    .form-buscar {
        padding: 0 20px;
    }

    
    .enlace-plato {
        display: block;
        max-width: 300px;
        margin: 10px auto;
        

    }
}
