.slider-container {
    overflow: hidden;
    width: 80%;
    
    margin: 40px auto;


    height: 300px;

}

.slider {
    display: flex;
    animation: slide 20s infinite linear;
}

.slider img {
    width: 100%;
    height: 300px;



    object-fit: cover;
    flex-shrink: 0;


    transition: opacity 1s ease;


}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }

    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }


    70% { transform: translateX(-200%); }

    75% { transform: translateX(-300%); }


    95% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }

}
